*.sublime-project
*.sublime-workspace
*.aux
*.bbl
*.blg
*.out
*.log
*.synctex.gz
*.toc
\[all-templates\]/*
rules/*.out
rules/*.aux
rules/*.log
rules/*.synctex.gz
*.bak
packages
.paket/paket.exe
templates
.ionide.debug